@using MVCDesignPattern.ViewModels
@model List<FacultyViewModel>
@{
	int j = 1;
}

@if(Model != null && Model.Count > 0)
{
<table class="table table-bordered table-warning">
	<thead>
		<tr>
			<th>Sr.No.</th>
			<th>Name of faculty</th>
			<th>Designation</th>
			<th>Experience</th>
		</tr>
	</thead>
	<tbody>
		@* @for (int i = 0; i < Model.Length; i++)
		{
			<tr>
				<td>@(i+1)</td>
				<td>@Model[i].Name</td>
				<td>@Model[i].Designation</td>
				<td>@Model[i].Experience</td>
			</tr>
		} *@

		@foreach (var faculty in Model)
		{
			<tr>
				<td>@(j++)</td>
				<td>@faculty.Name</td>
				<td>@faculty.Designation</td>
				<td>@faculty.Experience</td>
			</tr>
		}
	</tbody>
</table>
}
else{
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		No record found
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}