@using MVCDesignPattern.ViewModels
@model List<FacultyViewModel>
@{
	int j = 1;
}

<a asp-controller="Faculty" asp-action="AddFaculty" class="btn btn-sm btn-outline-primary">Add Faculty</a>


@if(Model != null && Model.Count > 0)
{
	<form method="post">
		<table class="table table-bordered table-warning">
			<thead>
				<tr>
					<th>Id</th>
					<th>Name of faculty</th>
					<th>Designation</th>
					<th>Experience</th>
				</tr>
			</thead>
			<tbody>
				@for (int i = 0; i < Model.Count; i++)
				{
					<tr>
						<td>
							<input hidden asp-for="@Model[i].Id" />
							@Model[i].Id
						</td>
						<td>
							<input asp-for="@Model[i].Name" />
						</td>
						<td>
							<input asp-for="@Model[i].Designation" />
						</td>
						<td>
							<input asp-for="@Model[i].Experience" />
						</td>
					</tr>
				}

				@* @foreach (var faculty in Model)
				{
					<tr>
						<td>@faculty.Id</td>
						<td>
							<input asp-for="@faculty.Name" />
						</td>
						<td>
							<input asp-for="@faculty.Designation" />
						</td>
						<td>
							<input asp-for="@faculty.Experience" />
						</td>
					</tr>
				} *@

			</tbody>
		</table>
		<button type="submit" class="btn btn-outline-success">Update all faculties</button>
	</form>

}
else{
	<div class="alert alert-danger alert-dismissible fade show" role="alert">
		No record found
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}