@model List<CRUD.Data.DTOs.Student>
@* CRUD.Data.DTO.Course -> Fully qualified name space*@

@{
}
<a asp-controller="Student" asp-action="AddStudent" class="btn btn-sm btn-primary">Add Student</a>
@if(Model is not null){
	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>Contact No</th>
				<th>Email</th>
				<th>Address</th>
				<th>Age</th>
				<th>Action</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var item in Model)
			{
				<tr>
					<td>@item.Id</td>
					<td>@item.Name</td>
					<td>@item.ContactNo</td>
					<td>@item.Email</td>
					<td>@item.Address</td>
					<td>@item.Age</td>
					<td>
						<form method="post" asp-controller="Student" asp-action="DeleteStudent"
							  asp-route-id="@item.Id">
							<a asp-controller="Student" asp-action="EditStudent"
							   asp-route-id="@item.Id" class="btn btn-sm btn-outline-primary">Edit</a>

							<button type="submit" class="btn btn-sm btn-outline-danger" onclick="return confirm('Are you sure you want to delete @item.Name?')">Delete</button>
						</form>
					</td>
				</tr>
			}
			@if(Model.Count == 0){
				<tr>
					<td colspan="5">No Record Found</td>
				</tr>
			}
		</tbody>
	</table>
}
else{
	<h1>No record found</h1>
}
